<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.9/wing.min.css"
    />
  </head>

  <body class="container">
    <h1>TS-GAME</h1>
    <div id="controls">
      <a href="<%= htmlWebpackPlugin.options.url %>/3DSpace.html">3D空间</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/snake.html">贪吃蛇</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/flappy.html">像素小鸟</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/dodge.html">躲避</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/2048.html">2048</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/tetris.html">俄罗斯方块</a>

      <a href="<%= htmlWebpackPlugin.options.url %>/link.html">连连看</a>
    </div>
    <br />
    <main id="app"></main>
  </body>
</html>
